body {background-color: rgb(0, 0, 0);
}

h1 {text-align: center;
    color: rgb(235, 75, 75);
    margin-left: 15%;
    border-style:dotted;
    border-color:  rgba(182, 238, 118, 0.925);
    border-width: 6px;
}

h1{margin-right: 30%;
}

main{background-color: rgb(0, 0, 0);
}
footer {color: rgb(230, 7, 7);
}
header {background-color: rgb(41, 194, 28);
}








h2 {text-align: center;
    color: rgb(0, 0, 0);
    background-color: aliceblue;
}

h3 { text-align: center;
    margin-left: 1% ;
    color: rgb(214, 58, 58);
    border-style: dotted;
    border-color: rgba(182, 238, 118, 0.925);
    border-width: 6px;

}


#ima1 {margin-left: 40%;
    width: 30%;
}
#ima2 {width: 30%;
    margin-left: 40%;
}


h4 {background-color: rgb(255, 255, 255);
}

h4 { border-style: groove; border-color: rgb(255, 255, 255);
}